<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <sectionGroup name="userSettings"
                  type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="KitaabgharDownloader.Properties.Settings"
               type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
               allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>

    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <userSettings>
    <KitaabgharDownloader.Properties.Settings>
      <setting name="MinimizeToTray" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="CreatePdf" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DeleteImages" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DownloadLocation" serializeAs="String">
        <value />
      </setting>
      <setting name="Timeout" serializeAs="String">
        <value>60</value>
      </setting>
      <setting name="Retries" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="OpenPdf" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DoNothing" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Notify" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Close" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Resume" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Smart" serializeAs="String">
        <value>True</value>
      </setting>
    </KitaabgharDownloader.Properties.Settings>
  </userSettings>
</configuration>